@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}
   
body{
  background-color: #DAF7A6;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
}
   
.container{
  text-align: center;
  background-color: white;
  padding-top: 30px;
  padding: 30px;
   
}

.container2{
  text-align: center;
  display: flex;
  padding: 10px 0px 30px 0px;
  justify-content: space-around;
}

#input-box{
  font-size: large;
  margin-top: 40px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 20px;
  border-color: #000000;
  border-radius: 2px;
}

#btn1{
  text-align: center;
  font-size: large;
  font-weight: 800;
  background-color: #DAF7A6;
  border-radius: 25px;
  padding: 15px 35px 15px 35px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition-duration: 0.4s;

}

#btn2{
  text-align: center;
  margin-left: 50px;
  margin-right: 10px;
  font-size: large;
  font-weight: 800;
  background-color: #DAF7A6;
  border-radius: 25px;
  padding: 15px 0px 15px 0px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition-duration: 0.4s;
}

#btn1:hover {
  background-color: #000000;
  color: #DAF7A6;
}

#btn2:hover {
  background-color: #000000;
  color: #DAF7A6;
}

#my-slider{
  position: relative;
  
}

#btn1, #btn2 {
  width: 160px; 
}

@media screen and (max-width: 600px) {
  #input-box {
    font-size: medium;
    padding-right: 0px;

  }

  .container{
    width: 98%;
  }


  #btn1,
  #btn2 {
    display: block; /* Change display to block for smaller screens */
    width: 100%; /* Make buttons full width on smaller screens */
    margin-bottom: 10px;
  }
  #btn2{
    margin-left: 0px;
  }
}


#my-slider{
  width: 70%;
}

